<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="headerFragment" class="header navbar-fixed-top">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="/">포켓몬 띠부씰북</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/trainer/aaa/pokedex">도감</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">판매/구매</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">교환</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">회원가입</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">로그인</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</html>