.poke-img {
    width: 10%;
    height: 10%;
    opacity: 0.2;
}

@media all and (max-width:767px){
    .poke-img {
        width: 25%;
    }
}

.collect {
    opacity: 1.0;
}

.count {
    color: #8c8f94;
    text-align: right;
}