<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
</head>
<body layout:fragment="content">
<div class="container">
    <div class="row mt-4 justify-content-between">
        <div class="col-12">
            <h1 class="d-inline">로그인</h1>
        </div>
    </div>
    <div class="row mt-3 justify-content-start">
        <form role="form" action="#" th:object="${loginForm}" method="post">
            <div class="form-group">
                <input th:field="*{loginId}"
                       th:class="'form-control' + (${#fields.hasErrors('loginId')}? ' is-invalid' : '')"
                       type="text" class="form-control" placeholder="아이디">
            </div>
            <div class="form-group">
                <input th:field="*{password}"
                       th:class="'form-control' + (${#fields.hasErrors('password')}? ' is-invalid' : '')"
                       type="password" class="form-control" placeholder="패스워드">
            </div>
            <button type="submit" class="btn btn-primary">로그인</button>
        </form>
    </div>
</div>
</body>
</html>