<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
</head>
<body layout:fragment="content">
<div class="container">
    <div class="row mt-4 justify-content-between">
        <div class="col-12">
            <h2 class="d-inline">로그인</h2>
        </div>
    </div>
    <div class="row mt-4 ml-1 justify-content-start">
        <form role="form" action="/login" th:object="${loginForm}" method="post">
            <div class="form-group">
                <input th:field="*{loginId}" type="text" class="form-control" placeholder="아이디"
                       th:class="'form-control' + (${#fields.hasErrors('loginId')}? ' is-invalid' : '')">
                <div th:errors="*{loginId}" th:text ="*{loginId}" class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <input th:field="*{password}" type="password" class="form-control" placeholder="패스워드"
                       th:class="'form-control' + (${#fields.hasErrors('password')}? ' is-invalid' : '')">
                <div th:errors="*{password}" th:text ="*{password}" class="invalid-feedback"></div>
            </div>
            <button type="submit" class="btn btn-primary">로그인</button>
        </form>
    </div>
</div>
</body>
</html>