<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <script>
            function dataSend() {
                var data = {"comment": $("textarea").val()};
                console.dir(data);
                $.ajax({
                    url: "#",
                    data: data,
                    type: "POST",
                })
            }
        </script>
    <style type="text/css">
         a:link {
            text-decoration: none;
         }
         a:visited {
            color: black;
            text-decoration: none;
         }
         .scrollable-menu {
            height: auto;
            max-height: 300px;
            overflow-x: hidden;
        }
    </style>
</head>
<body layout:fragment="content">
    <div class="container">
        <div class="row mt-4 justify-content-between">
            <div class="col-8">
                <h2 class="d-inline"><a href="/trade">교환</a></h2>
                <h4 class="d-inline ml-1 count" th:text="${trade.trainer.address.region}"></h4>
            </div>
        </div>
        <div class="row mt-4 justify-content-between">
            <div class="col-6">
                <h4 class="d-inline" th:text="${trade.title}"></h4>
            </div>
            <div class="col-6">
                <p class="float-right" th:text="${#temporals.format(trade.createdDate, 'yyyy.MM.dd HH:mm')}"></p>
            </div>
        </div>
        <div class="row pb-3 border-bottom">
            <div class="col-6">
                <div class="dropdown">
                    <a th:text="|${trade.trainer.loginId} 의 도감|"
                       class="dropdown-toggle pl-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </a>
                    <div class="pl-2 pr-2 dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
                        <div th:each="pokedex : ${pokedexList}">
                            <input th:checked="${#strings.contains(trade.trainer.pokeList, '/'+pokedex.name+'/')}"
                                   type="checkbox" onClick="return false;">
                            <p class="d-inline" th:text="|${#numbers.formatInteger(pokedex.code,3)}) ${pokedex.name}|">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="!${#strings.isEmpty(trainerDto)} and ${trainerDto.loginId}==${trade.trainer.loginId}" class="col-6">
                <a class="float-right pl-3" href="">삭제</a>
                <a class="float-right" href="">수정</a>
            </div>
        </div>
        <div class="pt-4 pb-2 row border-bottom">
            <div class="col-12">
                <pre th:text="${trade.content}"></pre>
            </div>
        </div>
        <div style="height: 10px" class="row mt-4 justify-content-between">
            <div class="col-9">
                <textarea type="text" class="form-control h-100" placeholder="댓글을 입력해주세요"></textarea>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-primary float-right ml-2" onclick="dataSend()">저장</button>
            </div>
        </div>
    </div>
</body>
</html>